In [3]:
import pandas as pd

In [5]:
data1={"name":["yashraj","rohit","dinkar","ravi"],
      "age":[23,45,67,78],
      "gender":["male","male","male","male"],
      "degree":["bsc","bsc","bsc","bsc"]}

In [7]:
data1

{'name': ['yashraj', 'rohit', 'dinkar', 'ravi'],
 'age': [23, 45, 67, 78],
 'gender': ['male', 'male', 'male', 'male'],
 'degree': ['bsc', 'bsc', 'bsc', 'bsc']}

In [9]:
df=pd.DataFrame(data=data1)

In [10]:
df

      name  age gender degree
0  yashraj   23   male    bsc
1    rohit   45   male    bsc
2   dinkar   67   male    bsc
3     ravi   78   male    bsc

In [21]:
age=df=pd.Series([23,45,67,78],name="anything")

In [27]:
df.describe()

count     4.000000
mean     53.250000
std      24.390914
min      23.000000
25%      39.500000
50%      56.000000
75%      69.750000
max      78.000000
Name: anything, dtype: float64

In [22]:
age

0    23
1    45
2    67
3    78
Name: anything, dtype: int64

In [23]:
type(age)

pandas.core.series.Series

In [26]:
y=df['age'].max()

KeyError: 'age'

In [29]:
data2={"country":["Brazil", "Russia", "India", "China", "South Africa"]
,"capital" : ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"]
,"area" : [8.516, 17.10, 3.286, 9.67, 2.98]
,"population" : [200.4, 143.5, 1252, 133, 4.3]}

In [30]:
data2

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.516, 17.1, 3.286, 9.67, 2.98],
 'population': [200.4, 143.5, 1252, 133, 4.3]}

In [32]:
df=pd.DataFrame(data=data2)

In [33]:
df

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [45]:
pd.CategoricalIndex(df)

CategoricalIndex(['country', 'capital', 'area', 'population'], categories=['area', 'capital', 'country', 'population'], ordered=False, dtype='category')

In [47]:
df.describe()

            area   population
count   5.000000     5.000000
mean    8.310400   346.640000
std     5.762066   511.167158
min     2.980000     4.300000
25%     3.286000   133.000000
50%     8.516000   143.500000
75%     9.670000   200.400000
max    17.100000  1252.000000

In [40]:
country=pd.Series(["Brazil", "Russia", "India", "China", "South Africa"],name="vijay kumar")

In [41]:
country

0          Brazil
1          Russia
2           India
3           China
4    South Africa
Name: vijay kumar, dtype: object

In [42]:
type(country)

pandas.core.series.Series

In [48]:
df.shape

(5, 4)

In [49]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [50]:
df.index=["A","B","C","D","E"]

In [51]:
df

        country    capital    area  population
A        Brazil   Brasilia   8.516       200.4
B        Russia     Moscow  17.100       143.5
C         India  New Delhi   3.286      1252.0
D         China    Beijing   9.670       133.0
E  South Africa   Pretoria   2.980         4.3

In [52]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [73]:
df.index=range(0,10,2)

In [74]:
df.index

RangeIndex(start=0, stop=10, step=2)

In [75]:
df

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
2        Russia     Moscow  17.100       143.5
4         India  New Delhi   3.286      1252.0
6         China    Beijing   9.670       133.0
8  South Africa   Pretoria   2.980         4.3

In [76]:
df.reset_index()

   index       country    capital    area  population
0      0        Brazil   Brasilia   8.516       200.4
1      2        Russia     Moscow  17.100       143.5
2      4         India  New Delhi   3.286      1252.0
3      6         China    Beijing   9.670       133.0
4      8  South Africa   Pretoria   2.980         4.3