In [3]:
import pandas as pd

In [5]:
data1={"name":["yashraj","rohit","dinkar","ravi"],
      "age":[23,45,67,78],
      "gender":["male","male","male","male"],
      "degree":["bsc","bsc","bsc","bsc"]}

In [7]:
data1

{'name': ['yashraj', 'rohit', 'dinkar', 'ravi'],
 'age': [23, 45, 67, 78],
 'gender': ['male', 'male', 'male', 'male'],
 'degree': ['bsc', 'bsc', 'bsc', 'bsc']}

In [9]:
df=pd.DataFrame(data=data1)

In [10]:
df

      name  age gender degree
0  yashraj   23   male    bsc
1    rohit   45   male    bsc
2   dinkar   67   male    bsc
3     ravi   78   male    bsc

In [12]:
ages=df1=pd.Series([23,45,67,78],name="anything")